<?xml version="1.0"?>
<robot name="physics">

  <link name="head">
    <visual>
      <geometry>
        <box size="1 0.5 0.1"/>
      </geometry>
      <origin xyz="0 0 0.05"/>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
        <box size="1 0.5 0.1"/>
      </geometry>
      <origin xyz="0 0 0.05"/>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>

  <link name="tail">
    <visual>
      <geometry>
          <box size="1 0.2 0.1"/>
      </geometry>
      <origin xyz="-0.5 0 0.0"/>
      <material name="gray">
        <color rgba="0.6 0.6 0.6 1"/>
      </material>
    </visual>
    <collision>
      <geometry>
          <box size="1 0.2 0.1"/>
      </geometry>
      <origin xyz="-0.5 0 0.0"/>
    </collision>
    <inertial>
      <mass value="1"/>
      <inertia ixx="1.0" ixy="0.0" ixz="0.0" iyy="1.0" iyz="0.0" izz="1.0"/>
    </inertial>
  </link>
  <!--
  <link name="head_sensor">
    <visual>
      <geometry>
          <box size="0.105 0.505 0.105"/>
      </geometry>
      <material name="red">
        <color rgba="1 0 0 0.2"/>
      </material>
    </visual>
  </link>

  <link name="body_sensor">
    <visual>
      <geometry>
          <box size="0.105 0.505 0.105"/>
      </geometry>
      <material name="green">
        <color rgba="0 1 0 0.2"/>
      </material>
    </visual>
  </link>

  <link name="tail_sensor">
    <visual>
      <geometry>
          <box size="0.105 0.205 0.105"/>
      </geometry>
      <material name="blue">
        <color rgba="0 0 1 0.2"/>
      </material>
    </visual>
  </link>
-->

  <joint name="head_tail" type="revolute">
    <axis xyz="0 1 0"/>
    <parent link="head"/>
    <child link="tail"/>
    <origin xyz="-0.5 0.0 0.05"/>
    <limit effort="1000" lower="-3.14" upper="3.14" velocity="1.5"/>
  </joint>
  <!--
  <joint name="head_sensor_joint" type="fixed">
    <parent link="head"/>
    <child link="head_sensor"/>
    <origin xyz="0.45 0.0 0.05"/>
  </joint>

  <joint name="body_sensor_joint" type="fixed">
    <parent link="head"/>
    <child link="body_sensor"/>
    <origin xyz="-0.45 0.0 0.05"/>
  </joint>

  <joint name="tail_sensor_joint" type="fixed">
    <parent link="tail"/>
    <child link="tail_sensor"/>
    <origin xyz="-0.95 0.0 0.0"/>
  </joint>
-->
</robot>
